[2014-09-22 13:27] liuggio opened #1 "[ProcessorCounter] Windows support"
`ProcessorCounter`  should have windows support.

[2014-09-22 13:28] liuggio opened #2 "[ProcessorCounter] OSX support for processor counter"
missing darwin support to calculate the number of processors

something like:

https://github.com/grosser/parallel/blob/master/lib/parallel/processor_count.rb#L59

[2014-11-06 03:51] diegosainz opened #6 "Behat integration"
Just to get started on the discussion...

The goal of the feature would be to easily feed _fastest_ with all the individual feature files (*.feature) that Behat would execute as a whole in a normal run.

One way we are experimenting to accomplish this is to write a Behat extension that will add a command line option to behat (i.e. `--list-features`) that outputs to stdout a list of all individual

[2014-11-08 08:17] Ocramius opened #8 "Support data providers"
Most of my slowest tests depend on dozens of test cases generated via data-providers: is there any way to reproduce those in some way when the data provider output is serializable?

[2014-11-18 10:48] liuggio opened #10 "real stream on piping"
As reported in PR https://github.com/liuggio/fastest/pull/7 pipe has some problem.

Now the pipe read all the data from the input and then processes it,
but this comes with some disadvantages.

A good solution would be a real Pipe stream, when there's new input the new data is added to the queue.

[2014-11-20 16:08] liuggio opened #15 "Move to organization"
@fabpot wrote (http://fabien.potencier.org/article/75/about-personal-github-accounts) about moving the projects that are under personal Github account to other organizations.
Were to move Fastest?

- fastest/fastest  **cons** is not possible is already taken
- pugx/fastest
- ?/fastest  possible names?

@diegosainz, @giorrrgio WDYT?

[2014-11-24 15:38] #6 closed, assigned to nobody

[2014-11-27 08:41] kristijanhusak opened #20 "Behat broken logs with --list-scenarios"
Hi,

I am using your behat extension for testing, and later building logs because i'm using Jenkins CI.
Command is this:
[code]

Tests pass, but when logs are built they don't have proper content. Examples:
[code]

[code]

From 76 features, i get this bug for around 30 features, and this breaks my build on Jenkins. When i use
 `--list-features` everything works fine.

Do you know what can be a pro

[2014-12-12 10:40] liuggio opened #21 "[RFC] stable release?"
We are using fastest with phpunit in our daily job and seems pretty stable,

For me the stable version could be done when https://github.com/liuggio/fastest/issues/20 will be fixed,
and the pipe thing will be closed,
I'd like to know the dev/user point of view.

/cc @giorrrgio @diegosainz @wcluijt

[2015-01-04 22:15] Seldaek opened #25 "Socket failure when run in fastest"
Did not have time to investigate much but I have a test running `$socket = socket_create(AF_INET, SOCK_DGRAM, SOL_UDP);` that works fine via phpunit but when I run via fastest it fails with:

[code]

[2015-01-05 10:11] rvanlaak opened #26 "Cannot open phpunit testsuite directories"
Fastest is not able to open testsuite directories containing wildcard characters

[code]

An example of the wildcard containing xml file can be found a [`symfony/symfony`](https://github.com/symfony/symfony/blob/2.7/phpunit.xml.dist)

[2015-01-12 10:52] liuggio commented on #26
Yes is well known bug, I never have time to improve the phpunit.xml reader,
also because you can use `ls` or `find` like the bigger do: https://github.com/symfony/symfony/blob/2.7/.travis.yml#L41

Would you like to improve it?

[2015-01-12 10:54] liuggio commented on #25
mmmm if is an OS project I'd like to investigate... (damn you windows)

[2015-01-13 12:00] Rvanlaak commented on #26
I might, but maybe ask @sebastianbergmann for some hints and best practices first.

[2015-01-13 14:28] liuggio commented on #26
Which is the question you want to ask?
Do you think an option could be use the PHPUnit suite iterator?

[2015-01-14 21:45] liuggio opened #27 "use GPU"
Fastest could use the GPU driver eg. cuda in order to speedup things :)

@claudio-dalicandro is a kind of master on this and maybe could suggest some good tips and implementation...

[2015-01-17 09:36] Rvanlaak commented on #26
Well I think PHPUnit should be able to return all tests, and thereafter the fasterst iterator can be used to distribute those tests

[2015-01-21 00:37] diegosainz commented on #20
@liuggio I think this issue can be closed as resolved - we have been running tests this way for a while now and Jenkins seems to work OK with the junit output.

[2015-01-21 08:37] kristijanhusak commented on #20
I haven't tested @wcluijt solution, stayed with the testing by feature. IF @diegosainz says it is working, it can be closed.

[2015-01-21 09:17] liuggio commented on #20
thanks

[2015-01-21 09:17] #20 closed

[2015-01-21 09:17] liuggio commented on #27
for now this is a dream

[2015-01-21 09:17] #27 closed

[2015-02-13 18:20] hugofonseca opened #28 "[documentation] How to run behat 3 tests"
Hi, I see some documentation regarding behat 2.*  and commits that seem to make it possible to run parallel scenarios with behat 3. Should the actual 2.* documentation work for behat3?

I would really appreciate some help please.

cc @aitboudad

[2015-02-13 18:32] aitboudad commented on #28
Yes, the only difference is:
[code]

And to make it work with (Selenium, Mink, etc) you need to add:
[code]
in [visitPath](https://github.com/Behat/MinkExtension/blob/master/src/Behat/MinkExtension/Context/RawMinkContext.php#L131).

[2015-02-13 18:57] hugofonseca commented on #28
Thank you, can you help me with one more thing. Did you manage to handle the database?
I'm getting some errors that seem related.

[2015-02-13 19:18] aitboudad commented on #28
Yes, which errors ?

[2015-02-13 19:46] hugofonseca commented on #28
Failing scenarios, sorry I was not clear.

[2015-02-13 19:47] hugofonseca commented on #28
Did you had to do some extra configuration?

[2015-02-13 20:29] aitboudad commented on #28
https://github.com/Sylius/Sylius/blob/master/src/Sylius/Bundle/CoreBundle/Behat/HookContext.php#L41

[2015-02-13 20:32] hugofonseca commented on #28
Thank you very much. I will look into it.

[2015-02-13 20:32] #28 closed

[2015-02-17 13:14] tomzx opened #29 "Placeholder manipulation"
Hello,

I'm trying to use `fastest` to generate `phpunit` code coverage with `phpcov` at the end to merge the generated `.cov` files.

I've tried running the following command, which does not work. My guess is that a `Process` is unable to spawn/execute the subcommand within the \`backticks\`.

My question is, how can we do placeholder manipulation in order to be able to do things such as replacin

[2015-02-17 14:08] liuggio commented on #29
Hi,
as you said fastest uses the symfony Process,
the Symfony Process uses the php `proc_*` functions
but the proc should at least (I remember) you should investigate,
if you want to debug a little what is the command that is executed by fastest?

[2015-02-18 00:33] tomzx commented on #29
Alright, after fiddling a bit more with it, I was able to properly get the command to work. Here it is for anyone interested.

[2015-02-18 00:33] #29 closed

[2015-06-19 08:24] binarious opened #31 "PDOException: SQLSTATE[HY000] [2002] No such file or directory"
Hi, I tried to integrate this project into a big functional tested application. But Doctrine does not seem to work:

[code]

`TmpEntities.php:73` does `$this->em->flush();`.

We get the EntityManager via:
[code]

Any ideas?

Symfony 2.3
Doctrine 2.4.7
DBAL 2.5.1
PHPUnit 4.7.3
OSX 10.10.3

[2015-06-19 08:42] binarious commented on #31
Had nothing to do with this library.

[2015-06-19 08:42] #31 closed

[2015-06-19 08:45] liuggio commented on #31
@binarious thanks for reporting if you can help me to implement this https://github.com/liuggio/fastest/issues/2  you can push your test faster on OSX
(I don't have a mac to try :( )

[2015-06-19 10:46] binarious commented on #31
@liuggio Sure I can do it, but first I have to get fastest running :). Still struggling.

[2015-06-19 11:42] binarious commented on #2
This works for me: https://github.com/binarious/fastest/commit/3051b5d115240bc75c62dc240daa914e2e82b6af
Is it just to display the number of processors?
I did not understand why you fallback to 4 though. If you're okay with it, I'll open up a PR.

[2015-06-19 11:53] liuggio commented on #2
@binarious great please open a PR
cfr: https://github.com/binarious/fastest/commit/3051b5d115240bc75c62dc240daa914e2e82b6af#commitcomment-11766210

[2015-06-22 13:30] binarious opened #34 "PHPUnit Logging"
We're logging our testresults as junit xml files:
*phpunit.xml:*
[code]
But since we're using fastest, the junit.xml file gets overwritten for each test and therefore does not contain the results of the tests that ran before the last one.
Is there any kind of workaround?

[2015-06-22 13:53] liuggio commented on #34
mmmm you may use a custom param like `--log-junit /tmp/logfile{p}.xml`  p is the custom process id ?
just an idea I never tried

[2015-06-22 15:35] binarious commented on #34
I've thought of that, too. Since this is just a side effect of this library I'll close this ticket. But I'll also publish my solution here when I found one.

[2015-06-22 15:35] #34 closed

[2015-07-15 09:03] pascaldevink commented on #21
Revisiting this, it there any progress on tagging a 1.x/stable release?

[2015-08-14 18:37] robertfausk commented on #21
ping :)

[2015-09-23 15:14] liuggio opened #37 "Re-enable -b before command"
`Execute a process before consuming the queue, it executes this command once per process, useful for init schema and load fixtures.`

[2015-09-23 15:16] liuggio opened #38 "Re-enable xml input"
Read input from a phpunit xml file from the \'<testsuites>\' collection. Note: it is not used for consuming.

The idea is to better integrate Phpunit in the v2.0 as tests provider and as output

[2015-09-23 15:16] liuggio opened #39 "Re-enable `rerun-failed` in 2.0"
Re-run failed test with before command if exists.

[2015-09-23 17:22] liuggio commented on #21
https://github.com/liuggio/fastest/releases/tag/1.0 :)

[2015-09-23 17:22] #21 closed

[2015-09-23 20:10] liuggio opened #40 "[Epic] Request For Contributors - V2.0"
The version 1 has been released and it's time to move on,
in this era laptops have 8 cores and the serial commands execution
is a waste of time, when we wrote the lib the processors number were 4 and now are doubled.

On the  `events` branch https://github.com/liuggio/fastest/tree/events (sorry I didn't change the Readme yet) there's a prototype of the new fastest,
**it has been totally rewritten

[2015-09-23 20:12] #15 closed

[2015-09-23 20:20] #10 closed

[2015-09-23 20:22] #2 closed

[2015-09-23 22:16] giorrrgio commented on #40
I would add a better aggregation of errors, so that the tests output is more uniform: e.g. parse the errors and replace the fragmented error output in a single stream of errors parsed from all the processed outputs, with aggregated failure counts. I would add support for skipped and incomplete tests too in the output, so it's easier to remember that you have to face them sometimes.

[2015-09-24 09:46] liuggio commented on #40
@giorrrgio this is a great idea, so you mean to create a Subscriber that emulates the phpunit output?

[2015-09-24 10:11] giorrrgio commented on #40
@liuggio yes, or we can add a generic TestFrameworkUIOutputSubscriber (ok with a better name maybe :P) with a strategy on different test frameworks to provide proper test output aggregation.

[2015-09-24 10:45] liuggio commented on #40
:+1:
maybe it can listen also for events like PendingTestEvent or FailedTestEvent

instead of a strategy a middlewareSubscriber that intercept events understand the output (or xml)  and raise a PendingTestEvent...

great idea :+1:

[2015-10-07 20:57] liuggio commented on #40
with @emanueleminotto and @giorrrgio we created https://github.com/liuggio/spawn
This project will extends spawn in order to provide faster tests :)

[2015-12-02 15:17] ReservedDeveloper commented on #26
:+1:

This would be particularly helpful for individuals who may have additional configuration in their phpunit.xml file (ex: coverage reports)

[2015-12-02 15:23] liuggio commented on #26
@ReservedDeveloper  would you like to develop the extension?

[2015-12-04 01:19] loostro opened #44 "Semantic versioning and patch releases"
I hate useing `dev-master` dependencies. It's a bad practice. Please, do another release follwing [semantic versioning](http://semver.org/), it should be `v1.0.1` (first patch to 1.0 version).

Also, please keep tagging new releases (patch, for bug fixes, minor for new features, major for BC breaking changes) when merging PRs into master.

Thanks.

[2015-12-04 11:38] #44 closed

[2015-12-04 11:38] liuggio commented on #44
thanks @loostro

[2015-12-14 13:12] titolendable opened #48 "Slower to run than native PHPUnit command"
I came across fastest today and sounded promising, exactly what our team were looking for. I gave it a go but for my surprise, it takes twice the time to run the unit tests. The project is powered by Symfony2 and using LiipFunctionalTestBundle. I executed the following command to run the tests:

[code]

And takes over 4 minutes to run all the 235 tests. The phpunit command takes almost 2 minutes t

[2015-12-14 14:08] liuggio commented on #48
@titolendable thanks a lot for reporting this,
all the feedback we had was really good...
When/How the fixtures are loaded?
How do you use the liipFunctionalBundle?

[2015-12-14 14:32] titolendable commented on #48
Thanks @liuggio for getting back to me so quickly.
Running a simple example on a folder with basic tests that extend the PHPUnit_Framework_TestCase (no usage of the LiipFunctionalTestBundle or access to the database), fastests takes way longer to run. I am scratching my head how can it be possible, eventually something on my environment, not sure, hopefully you will be able to figure out.

[code]

[2015-12-14 15:13] liuggio commented on #48
@titolendable
Your suite tests is already small and fast (1 second),
I think is difficult divide by 1 seconds :) fastest creates parallel processes so there's overhead,
how many cores do you have on your machine why do you limit by 2? How is the result with no argument 2?

[2015-12-14 15:18] titolendable commented on #48
@liuggio
That was an example, I just picked one folder, the entire suite of tests takes almost 2 minutes. I have only two cores on my computer, the script got it right.

[2015-12-14 15:25] liuggio commented on #48
@titolendable
if you increase the verbosity, can you see what's the slow thing?

[2015-12-14 16:18] titolendable commented on #48
@liuggio this is the output I get when adding the -vvv option:

[code]

Each file takes almost 2 seconds to run, when with phpunit the overall time spend is around than 1s.

[2015-12-16 17:19] perk11 commented on #48
I think likely one of the two things happening:
* Your system takes a lot of time to start phpunit process for some reason.

Or

* You have some init code that takes ~1.5-2 seconds that runs each time when starting a test as a single file, but only once when you run a whole test suite.

[2015-12-17 17:42] titolendable commented on #48
Sounds reasonable @perk11 but I can not figure out what can be. We include the default Symfony2 configuration for phpunit, nothing specific to our environment. And strange enough, the whole tests in the folder run around 1 second with native phpunit, from your suggestion, the minimum time would be ~1.5-2.

[2015-12-17 17:59] perk11 commented on #48
@titolendable try timing it using `time`, phpunit may report time wrong.

[2015-12-29 14:29] rbaarsma opened #49 "Missing Env variables in process cause problems"
I've been searching for hours why using fastest my php version seemed wrong, while the same commands in the terminal directly all seem to work.

In the end I found that creating a Process with specific ENV variables, will not include your original ENV variables, in my case causing each process to fail.

Easy to fix in EnvCommandCreator.php
line 16:
[code]

[2015-12-29 14:32] liuggio commented on #49
Thanks a lot for reporting,
please do you have time to do a PR?

[2015-12-29 14:39] rbaarsma commented on #49
pull request opened https://github.com/liuggio/fastest/pull/50

[2016-01-19 12:36] ioleo opened #51 "Allow diffrent command for rerunning tests"
I have a case where some tests fail, becouse of random Segmentation Faults.

Running the same tests with `--process-isolation` the tests succed.

It would be very useful if I could define a diffrent command for rerunning tests, eg:

`bin/fastest -r -o -v "bin/phpunit {}" "bin/phpunit --process-isolation {}"`

where the second argument is command for "rerunning tests".

Or maybe a named argument li

[2016-01-20 14:35] #49 closed

[2016-01-20 15:29] liuggio commented on #51
@loostro maybe called `--run-on-single-failure`
don't know the name is difficult :)

[2016-01-20 15:33] #48 closed

[2016-01-20 15:33] liuggio commented on #48
I think is the phpunit bootstrapping :)

[2016-02-02 17:25] liuggio opened #57 "rutor integration?"
@rultor hello

[2016-02-02 17:25] rultor commented on #57
@liuggio Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2016-02-16 13:01] fabiojvalente opened #59 "PHPUnit_Framework_Exception"
Hello,

When I run phpunit without fastest, the whole test goes fine and finish successfully

` export ENV_TEST_CHANNEL_READABLE='test_1'; vendor/bin/phpunit -c app Tests/Functional/APP/APPTest.php --stop-on-failure --bootstrap Tests/bootstrap-jenkinstest.php  -vvv`

But when I run

`echo "Tests/Functional/APP/APPTest.php" | vendor/bin/fastest "vendor/bin/phpunit -c app {} --bootstrap=Tests/bootst

[2016-02-16 14:55] loostro commented on #59
Under what shell are you running? Which OS?

[2016-02-16 15:32] fabiojvalente commented on #59
Hi,

I'm running in Bash on Ubuntu 14.04 with apparmor disabled

Tks

[2016-05-02 09:35] meshenka opened #65 "bin/behat --list-scenarios run them instead of list"
Hi when i do `bin/behat --list-scenarios` it does not list it run, as if options was ignore (but opions are present in help)

So `bin/behat --list-scenarios | bin/fastest "bin/behat {}"` does not work properly

[code]

My behat config

[code]

My installation
[code]

I"m running php7

[code]

[2016-05-23 08:38] #65 closed

[2016-05-23 08:42] aitboudad commented on #65
I had the same issue, It should work again now!

[2016-06-07 09:32] alexislefebvre commented on #51
@loostro Did you try the [`@runTestsInSeparateProcesses`](https://phpunit.de/manual/current/en/appendixes.annotations.html#appendixes.annotations.runTestsInSeparateProcesses) class annotation? It may fix the root of your problems.

[2016-06-07 10:45] alexislefebvre opened #68 "Add an unique placeholder"
I'm trying to generate code coverage with fastest.

@liuggio [suggested to use](https://github.com/liuggio/fastest/issues/34#issuecomment-114111282) `--log-junit /tmp/logfile{p}.xml`, but when I run 26 tests, the value `{p}` goes from 1 to 4, it looks like the file is overwritten by each test that use the same `{p}` value.

Currently they are these placeholders:

- `{}` is the current test file.
-

[2016-06-07 11:06] alexislefebvre opened #69 "Misleading output "- X shuffled tests into the queue.""
See the output when I launch fastest:

    $ find src/*/*Bundle/Tests/ -name "*Test.php" | vendor/bin/fastest --process 4 "vendor/bin/phpunit -c app/phpunit.xml.dist {}"
    - 26 shuffled tests into the queue.
    - Will be consumed by 4 parallel Processes.

26 is the number of files, not the number of tests:

    $ find src/*/*Bundle/Tests/ -name "*Test.php" | wc
         26      26    1903

So,

[2016-06-07 13:22] liuggio commented on #68
@alexislefebvre :+1:  would you like to provide a PR?

[2016-06-07 14:00] alexislefebvre commented on #68
@liuggio OK I'll give it a try. Is it better to provide the number with a name (like `ENV_TEST_CHANNEL_READABLE`) or only a number (like `ENV_TEST_INC_NUMBER`)?

[2016-06-07 14:04] liuggio commented on #68
@alexislefebvre I'd go for `ENV_TEST_INC_NUMBER` is a pure number, but I think is better if you decide :)

[2016-06-08 09:40] liuggio commented on #68
@alexislefebvre great!

[2016-06-08 09:44] #68 closed

[2016-06-09 09:52] alexislefebvre opened #72 "Improve Travis CI tests"
- [x] Remove PHP7 from allowed failures
- [x] Cache dependencies

[2016-06-09 11:46] #72 closed

[2016-07-05 17:10] peterrehm commented on #26
I just proposed a PR in this regards.

[2016-07-06 11:34] #26 closed

[2016-07-06 14:01] #57 closed

[2016-07-07 05:40] peterrehm commented on #59
@fabiojvalente Did you get your issue fixed? Does your error appear also when you ommit the -b option?

[2016-07-07 08:52] #69 closed

[2016-07-07 08:53] #40 closed

[2016-08-01 16:08] alexislefebvre opened #79 "Skipped tests are not reported"
I use `$this->markTestSkipped();` in several of my tests to skip tests when a debugging tool is not available. But fastest does not detect skipped tests, they are treated as if tests were passed successfully.

fastest should display a warning of something when a test is skipped.

[2016-09-26 15:02] tommy-muehle opened #81 "Create a PHAR file"
I'm curious that i nothing found about that here. But have you any plans to create a PHAR file as second usage option? Because fastest can be used "globally" for a different kind of projects.

So there are no reasons to add this in the require-dev part in a project composer.json. That would also solve some potential dependency bugs (for example with Symfony projects that use an other console compo

[2016-09-27 08:21] tommy-muehle commented on #81
@loostro
Thanks for the fast implementation!

[2016-11-17 15:08] nathan-king opened #84 "False Positives"
Not sure if it's fixable, but I think it's important to at least make the issue known.

There is a possibility that running fastest will say a test has passed when it shouldn't. The only cause I have been able to create this issue with is having two classes with the same name but separate namespaces used in a test - e.g. `My\First\FileSystem` and `My\Second\FileSystem`. Both of which have the same

[2017-01-23 08:59] danydev opened #86 "Behat broken after installing extension"
I'm using behat 3.2.1, as soon as I install the extension as the README says, behat does not work anymore. It doesn't give output regardless of the command run
[code]
After putting the extension on behat.yml `Liuggio\Fastest\Behat2\ListFeaturesExtension\Extension: ~`, *any* behat command terminate immediately with exit code 255 (and not output)
[code]
The same for any other behat command (run test

[2017-02-22 01:14] paulocastroo opened #88 "Adding Peer Servers"
Is it possible, to use multi server cores from other peer like in parallel?

[2017-04-03 12:16] cbergau commented on #86
I think this is because of Behat Version 3. In Behat2\ListFeaturesExtension\Extension.php the class implements an ExtensionInterface which does not exist anymore.

[2017-04-03 12:27] cbergau opened #90 "Behat 3 compatiblity"
Currently, this project only supports Behat1 and Behat2. A Behat 3 support would be really nice :-)

[2017-04-03 14:22] aitboudad commented on #90
it's working for me, what is going wrong there ?

[2017-04-03 14:48] alexislefebvre commented on #90
Maybe this issue should be merged with #86.

[2017-04-03 15:09] aitboudad commented on #86
you should put `Liuggio\Fastest\Behat\ListFeaturesExtension\Extension: ~` in `behat.yml` instead

[2017-04-03 15:15] aitboudad commented on #90
see #91

[2017-04-03 17:30] #90 closed

[2017-04-07 19:08] #86 closed

[2017-05-16 10:07] Timo-Linde opened #92 "phpunit compatibility"
Hello guys, i tried to run liuggio/fastest with phpunit 6.1.3
It cannot be get with composer because of the require statement on line 17
` "phpunit/phpunit": "~4.8|~5.4"`

I dont want to install the phpunit 6.1.3 externally. So i just added in my fork:
` "phpunit/phpunit": "~4.8|~5.4|~6.1"`

worked great for me.

[2017-06-26 20:19] DonCallisto commented on #92
Take a look at [this](https://github.com/liuggio/fastest/pull/94#issuecomment-311169505)

Hopefully we'll release a new tagged (minor) version soon.

[2017-06-27 06:10] Timo-Linde commented on #92
looks really good thank you for that

[2017-06-28 08:37] DonCallisto commented on #92
Merged in [https://github.com/liuggio/fastest/commit/4f52d7f13c853eb734e7e58fa95348a3a8cc4406](https://github.com/liuggio/fastest/commit/4f52d7f13c853eb734e7e58fa95348a3a8cc4406)

You can use new tagged version `1.5.0`.

Let me know if everything is ok, thanks.

[2017-06-28 08:37] #92 closed

[2017-07-19 13:44] mbrodala opened #96 "Fails with multiple test suites"
Given a `phpunit.xml` like this:

[code]

The command fails while it tries to interpret the test suite name as PHP class name:

[code]

[2017-08-29 17:41] tarlepp commented on #96
Same here, any solutions ?

[2017-08-30 06:50] DonCallisto commented on #96
@mbrodala @tarlepp could you show your complete `xml` file configuration? Thanks

[2017-09-02 12:39] tarlepp commented on #96
@DonCallisto sure there is what I'm using https://github.com/tarlepp/symfony-flex-backend/blob/master/phpunit.xml.dist

[2017-09-02 12:43] tarlepp opened #99 "phpunit not found: don't try to guess path to phpunit?"
It seems that this library relies that phpunit is found under `bin` directory.

https://github.com/liuggio/fastest/blob/97045f4f46fcecc934cc13e8721c4cc6c500a674/src/Process/ProcessFactory.php#L68-L73

Imho this should be looked under `vendor/bin` directory because composer will add that `phpunit` there and not under `bin` directory.

[2017-09-02 13:09] DonCallisto commented on #96
I'll take a look this week end to see where's the error.

[2017-09-03 09:38] DonCallisto commented on #96
It seems that for multiple `testsuite` entries, PHPUnit configuration iterator returns something different than for one single `testsuite` entry.
I'm going to fix this in the proper way.

[2017-09-05 20:50] DonCallisto commented on #96
@tarlepp @mbrodala I should have fixed everything. Could you guys try the `master` branch in your project and tell me if everything is ok (especially check if every test is taken into account).

Let me know please.

Thanks.

[2017-09-06 05:25] tarlepp commented on #96
@DonCallisto thanks, I'll try this out tonight

[2017-09-06 07:38] mbrodala commented on #96
@DonCallisto Works now as expected, thanks for fixing!

[2017-09-06 07:38] #96 closed

[2017-09-06 07:40] DonCallisto commented on #96
@mbrodala I'll release a new bug fix tagged version as soon as @tarlepp confirm this either. Let the notification for this issue be ON until new version (1.4.3)

[2017-09-07 17:07] tarlepp commented on #96
@DonCallisto works like expected, thanks!

[2017-09-07 19:25] tarlepp opened #101 "Support / Docs for Symfony Flex projects"
Currently within Symfony Flex projects doctrine configuration is like:

[code]

Where this ```DATABASE_URL``` env is eg. ```mysql://root@127.0.0.1:3306/symfony?charset=utf8mb4&serverVersion=5.7```

With this database creations won't work as expected because of https://github.com/liuggio/fastest/blob/master/adapters/Doctrine/DBAL/ConnectionFactory.php#L27-L31

[2017-09-13 00:25] mtibben opened #102 "Fastest should fail fast if the before script fails"
If the given `--before` script fails, I think fastest should exit early with the error. Otherwise you have a whole testsuite that runs with a broken environment.

I had a quick look at patching this, but looks like the before process is treated like any other test process, so might require a different execution strategy.

[2017-09-13 06:38] DonCallisto commented on #99
@tarlepp have you a real use case for this?

Becase in `composer.json` we have the line

[code]

that should create a symlink between `bin\phpunit` and `/vendor/phpunit/phpunit/phpunit`

Let me know, thank you.

[2017-09-13 06:43] DonCallisto commented on #101
@tarlepp could you try to work on this?

[2017-09-13 06:49] DonCallisto commented on #102
Hello.

I'm not aware of any `--before` script directly related to PHPUnit. Could you please point me to documentation so I can try to see if this could be possibile and more important if makes sense.

Thank you!

[2017-09-13 06:52] DonCallisto commented on #96
@tarlepp @mbrodala

https://github.com/liuggio/fastest/releases/tag/v1.4.3

[2017-09-13 06:58] DonCallisto commented on #88
Hi, at the moment it's not possibile and I suppose it's not a wanted feature.
An idea could be to create a bridge or an extension where split tests, execute fastest in <n> servers and aggregate the results in master one.

At the moment I can't work on this solution but you can try to provide yours!

[2017-09-13 06:58] #88 closed

[2017-09-13 06:59] mtibben commented on #102
Oh sorry I wasn't clear. I'm talking about the argument passed to fastest.. For example, I would expect this to fail before tests are actually run:
[code]

[2017-09-13 07:02] DonCallisto commented on #102
Ops, sorry, I didn't noticed it!
Well, ok, I'll take a look in the next weeks or days.

Thank you for this.

[2017-09-13 07:22] mbrodala commented on #96
Thanks for fixing. :-)

[2017-09-13 07:25] mtibben commented on #99
If you're using composer the default actually is `vendor/bin/phpunit` and `bin-dir` is an override. Maybe it should check the default location first, or get it from `composer config bin-dir` ?

[2017-09-13 07:30] tarlepp commented on #99
@DonCallisto eg. in my project https://github.com/tarlepp/symfony-flex-backend I need to add `phpunit` symlink to my project `bin` directory, which seems quite weird.

[2017-09-13 07:30] tarlepp commented on #96
@DonCallisto thanks!

[2017-09-13 07:31] mtibben commented on #99
@tarlepp you can invoke with `./bin/fastest "vendor/bin/phpunit {};"` to tell fastest what to execute

[2017-09-13 11:53] DonCallisto commented on #99
@mtibben I know it's an override but we got this in `composer.json` file so this should work straightforwardly.

Am I missing something?

[2017-09-13 12:02] DonCallisto commented on #99
I've tried an example and, actually, it does not create a symlink itself. I don't think this should be a feature of this project as every vendor could be placed elsewhere and it could be difficult to find out where. I would suggest to stay with this configuration and run fastest as @mtibben suggested, specifying where `phpunit` bin is located.

If everyone agree, I'll close this.

[2017-09-13 13:31] alexislefebvre commented on #99
@DonCallisto

I think that this part of `composer.json` is ignored when fastest is installed as a dependency.

[2017-09-13 13:34] DonCallisto commented on #99
@alexislefebvre so, technically, it is useless.

[2017-09-13 13:46] alexislefebvre commented on #99
I may be useful when working on this project or when the Travis CI run tests. We can remove this part and see if tests are broken or not.

[2017-09-13 13:49] DonCallisto commented on #99
@alexislefebvre well, you're right, maybe for travis is a crucial parameter. We can try BTW.

However, do you agree with no modification to  `public static function getDefaultCommandToExecute()`?

I suppose it's not a responsibility of this library to discover where the executable is, especially if you can specify it in CLI.

[2017-09-13 13:54] alexislefebvre commented on #99
I agree but if the removal breaks tests suites of fastest users (because the `phpunit` executable won't be found), this would be a BC break.

We shouldn't do this in a minor version but it can be done on a major version.

[2017-09-13 13:56] DonCallisto commented on #99
@alexislefebvre let's keep everything as it is now

[2017-09-13 13:59] alexislefebvre commented on #99
We can still improve the existing documentation by adding the path to `phpunit` in every example.

And also reopen and tag this issue as an idea for the future major release.

[2017-09-13 14:06] DonCallisto commented on #99
@alexislefebvre could you auto assign this and complete the task of editing documentation + tagging and reopen the issue?

[2017-09-13 15:11] tarlepp commented on #37
One way to handle this is to use `phpunit.xml.dist` file and define used bootstrap file there.

[2017-09-23 12:46] DonCallisto commented on #102
I've taken a look into the code and logic but I didn't find yet an effective way to handle this situation.
That `before` command is itself a process could be fine.
A stratega could be to execute it alone and raise an exception if exit code is not `0`.
Then catch that exception somewhere in order to communicate with `*Render` to inform user what happened.

Have to analyze it better when I have more

[2017-09-23 12:51] DonCallisto commented on #37
@tarlepp do you think that this https://github.com/liuggio/fastest/issues/102 could be tackled with `phpunit.xml.dist`?

[2017-09-23 12:57] DonCallisto commented on #37
(or at least, if `-b` is already enabled in fastest, we can close this)

[2017-09-23 12:57] tarlepp commented on #37
@DonCallisto currently fastest won't fail at all if `phpunit.xml.dist` bootstrap fails (eg. that has simple `die();` on that script). And then fastest won't show any errors about any of those tests...

And this is quite annoying and really hard to actually figure out what is going on. Picture below to show this.
![image](https://user-images.githubusercontent.com/595561/30773364-b2e0e0da-a077-11e7-

[2017-09-23 13:17] DonCallisto commented on #37
Ok, so those seems to be two different problems:

- Run `fastest` with native `-b` option should stop if any errors happens in before command
- Run `fastest` with `phpunit.xml` should stop if any errors happens if bootstrap fails or stops.

In both case, this issue seems to be the same of #102; isn't it?

[2017-09-23 13:36] tarlepp commented on #37
@DonCallisto yeah the outcome is the same

[2017-09-30 13:22] DonCallisto commented on #102
@mtibben see https://github.com/liuggio/fastest/pull/104. Please leave any comment in that PR.

[2017-09-30 13:23] DonCallisto commented on #37
@tarlepp see https://github.com/liuggio/fastest/pull/104. Please, leave any comment in that PR.
Moreover it solves only fastest `-b` "native" approach

[2017-10-06 02:44] mdeboer opened #106 "Use logical cpus instead of physical cpus"
To get the most out of CPUs with hyperthreading, use `/usr/sbin/sysctl -n hw.logicalcpu` on OSX instead of /usr/sbin/sysctl -n hw.physicalcpu`.

[2017-10-06 08:05] alexislefebvre commented on #106
That's an interesting point. Hyperthreading offer about 30 % more power than the same core without Hyperthreading. If you launch two processes for two threads that are treated by one core, you're requiring a 200 % load while the CPU can only provide about 130 %.

I suggest you to compare time taken by tests when you use more or less threads with the `--process` option. Could you please give us the

[2017-10-06 09:10] mdeboer commented on #106
I think it’s not solely about the usage per core but also having a small queue “waiting”. The hyper threaded threads may not be as fast as a physical core but why waste a bit of cpu time when we can use it to create a thread and start testing. Then when the first thread on the core is done, there’s already one that can get our full attention and no time is wasted on garbage collection, starting a

[2017-10-06 10:49] alexislefebvre commented on #106
When I tested with one process per core vs. two processes per core, it looked like each test process was saturating one core, so there was no free resource for another process.

[2017-10-06 11:53] mdeboer commented on #106
Some results from a project that I'm working which is a Symfony 3.3 project with functional tests and database fixtures. I ran these tests on a Macbook Pro (2017) with dual-core i5 (2 physical cores, 4 logical cores with HT). I wrote a script to run these tests after clearing the cache and running it once to warm the (op)cache.

2 threads:
Test 1: Time: 18674 ms, Memory: 6291456 b
Test 2: Time: 17

[2017-10-06 12:47] alexislefebvre commented on #106
Thanks for the tests, these are good results!

IIRC tests took longer time with Hyperthreading, I tested it on a quad core / 8 processes i7 2 years ago. Too bah I didn't save the results of my experiment.

[2017-10-06 14:30] mdeboer commented on #106
You're welcome! 👍  I've heard that for gaming it's often preferred to have HT disabled so I guess it really depends on the workload.

Also I noticed that for linux you already count the logical number of CPU's by counting occurrences of `processor`. In the text fixture it shows 4 processors which according to the Intel specs equal the logical number of cores. In each processor entry it also states

[2017-10-11 10:59] DonCallisto commented on #102
@mtibben ping

[2017-10-11 10:59] DonCallisto commented on #37
@tarlepp ping

[2017-10-11 11:04] tarlepp commented on #37
@DonCallisto it's good

[2017-10-11 21:28] mtibben commented on #102
👍  great, seems reasonable

[2017-10-12 12:41] DonCallisto commented on #102
Resolved in https://github.com/liuggio/fastest/pull/104

[2017-10-12 12:41] #102 closed

[2017-10-12 12:43] DonCallisto commented on #37
Partially resolved in https://github.com/liuggio/fastest/pull/104; still misses `bootstrap.php` fail handling

[2017-10-22 15:22] tarlepp opened #109 "Wrong test count when using -b option"
Test count (`106 shuffled test classes into the queue`) is correct, but actual files that are shown also adds those -b files to that queuee. So this causes that runned files are offset as many as process you have defined.

TravisCI logs below to demonstrate this.
[code]

[2017-10-24 19:05] DonCallisto commented on #109
@tarlepp please, take a look to #110 and tell me WDYT

Thanks.

[2017-10-25 15:16] tarlepp commented on #109
@DonCallisto that should do the trick

[2017-10-25 15:17] DonCallisto commented on #109
Resolved in #110

[2017-10-25 15:17] #109 closed

[2017-11-30 18:29] tarlepp opened #112 "Support for Symfony 4"
Symfony 4 was just released and I cannot update to that because currently package.json contains following:
[code]

[2017-12-01 07:51] #112 closed

[2017-12-01 09:38] DonCallisto commented on #112
I've changed `composer.json` as you can see [here](https://github.com/DonCallisto/fastest/blob/master/composer.json)

Does it look good to you?

Moreover I'm not so confident with `travis.yml` file: should we build a better matrix to test against 2.7.x, 3.x, 4.0 and keep lowest deps in that matrix?

What do you think?

After that we can release a new tagged version (1.5.2)

[2017-12-03 18:31] tarlepp commented on #112
yeah test matrix should cover all of those symfony versions. And that composer.json looks fine for me.

[2017-12-05 22:15] tarlepp opened #114 "ENV variables within SF4"
Hmm seems  like env variables are not working within symfony 4, for some reason eg. `ENV_TEST_CHANNEL_READABLE` is not set as it was on 3.x branch.

[2017-12-06 00:59] tarlepp commented on #112
@DonCallisto so you're changing that travis config? or should we just release new version so that all sf4 uers could use this already?

[2017-12-06 07:34] DonCallisto commented on #112
I would like to test it against the matrix but I don't know where to start as I made some tries Saturday and I didn't succeed.

I'm gonna try it again, in a new branch, so we can try to make it work together.

[2017-12-06 07:35] DonCallisto commented on #114
Could you reproduce the case with test in a brand new repo?

[2017-12-06 12:37] tarlepp commented on #114
Hmm, it seems that the problem is within `EnvCommandCreator::execute` method.

Currently it contains following:
[code]

And with that those aren't added to env variables as expected, but if modify that part like above all works as expected:

[code]

And how did I test this, just simple `throw new \Exception(getenv('ENV_TEST_CHANNEL_READABLE'));` on my test bootstrap file.

Result with original:
[c

[2017-12-06 12:42] tarlepp commented on #114
And you could easily test this with my project https://github.com/tarlepp/symfony-flex-backend just clone it run `composer install` and after that `find tests/ -name "*Test.php" | php ./vendor/bin/fastest -v -p 8 -b "php ./tests/bootstrap.php" "php ./vendor/bin/phpunit {} -c phpunit.fastest.xml --coverage-php build/fastest/{n}.cov;"`

[2017-12-07 17:42] DonCallisto commented on #112
@tarlepp as you can see from [this build](https://travis-ci.org/liuggio/fastest) maybe we should drop sf2.7 support (as it seems not to work correctly but I need to investigate further).
Moreover we cannot keep support for behat2 (look at sf3 and sf4 builds).
Maybe all those requirements should be for a new major version.

WDYT?

[2017-12-07 17:45] tarlepp commented on #112
@DonCallisto I think "the best" way is to drop support old symfony from next major release of this library.

[2017-12-07 17:49] alexislefebvre commented on #112
Note that Symfony 2.7 is still supported until May 2018: https://symfony.com/roadmap?version=2.7#checker

But I think that users can upgrade from 2.7 to the 2.8 which is still a LTS release.

[2017-12-08 18:40] DonCallisto commented on #112
@alexislefebvre I know that symfony 2.7 still has support but look at [this](https://travis-ci.org/liuggio/fastest/jobs/313066076): it seems that behat 2 not works with symfony 2.7.

How can we deal with this? I'll try to upgrade behat 2 minor version to see if it works. Let's see!

[2017-12-08 19:17] DonCallisto commented on #112
Ok, we cannot use other versions of 2.7 because it's the only one.
I've tried to replicate locally the error and, if I run behat, it gives the same error but I can se the class it claims not to be here.
I'm a little bit confused. If we managed this to work with 2.7 it would be great and we can move on to a next major version with only behat 3 and symfony > 3

[2017-12-08 23:08] DonCallisto commented on #112
Looking closely to this, I've noticed that issue is not about symfony 2.7 and it's not about our fastest library: it's in behat with `--prefer-lowest`.

I'm going to open an issue directly in behat. Let's see what's happen

[2017-12-08 23:20] alexislefebvre commented on #112
You can require a newer version of Behat to avoid error with `--prefer-lowest`.

[2017-12-08 23:23] DonCallisto commented on #112
@alexislefebvre I do know this, and I suppose is gonna be the right choice as behat2 seems not to be maintained anymore.

[2017-12-08 23:27] alexislefebvre commented on #112
I had a similar problem recently and changing `2.7.0` to `2.7.1` was enough to avoid an error with the `--prefer-lowest` flag: `2.7.0`: https://github.com/liip/LiipFunctionalTestBundle/pull/351#discussion_r155657088

[2017-12-08 23:53] DonCallisto commented on #112
Finally, I make it works: had to drop php7.0 and hhvm support as symfony 4 components does not support them.
I had also to drop php < 6 support for php 7.2 reasons and behat 2 as it's not maintained anymore.

I suppose that this should deserve a new major version (2)

@alexislefebvre, @tarlepp does it look good to you? Do you agree with this?

[2017-12-08 23:56] DonCallisto commented on #112
Whops, forgot to restore symfony component versions. Gonna fix it immediately.

[2017-12-09 00:10] DonCallisto commented on #112
Let's continue in #116

[2017-12-11 17:54] francoispluchino commented on #114
For Fastest to work properly with Symfony 4 Flex, the PR #117, #118, #119 are required.

[2017-12-13 23:44] francoispluchino commented on #106
Just for information, for the Windows platform, the number of logical processors is already used.

[2017-12-13 23:44] francoispluchino commented on #114
This issue can be closed normally.

[2017-12-13 23:46] francoispluchino commented on #1
This issue can be closed.

[2017-12-14 10:47] #114 closed

[2017-12-14 10:47] #1 closed

[2017-12-14 11:29] francoispluchino commented on #99
With the `1.6.x-dev` version, this issue is partially solved. It just misses checking in the `vendor/bin` directory. I will do a PR for this.

[2017-12-14 18:27] mdeboer commented on #106
Yes, just like for Linux 👍  It's just Mac that uses the physical processor count.

[2017-12-22 12:38] francoispluchino commented on #99
Added in the `v1.6.0` version.

[2017-12-22 12:38] #99 closed

[2018-01-04 19:29] mfratczak opened #125 "Problem with setting header in symfony"
Hi,

I have use opensoure sylius ecommerce system, and i want use fastest. But we use selenium or local server to test (using behat). How i can put header or cookie on start to every test? i dont want change every test. I'm trying this more than 4 days, and still have problem :)

[2018-01-05 08:14] DonCallisto commented on #125
@mfratczak fastes just parallelize them: if you set header and/or cookie in the "standard" way (e.g.: for behat in a `@BeforeScenario`) all should work as expected. I use fastest with behat and selenium and I don't have any kind of issue.

[2018-01-23 13:35] calinipate opened #126 "JUnit not all features are reported in the results file"
I have a test suite which contains two feature files and output set to JUnit.
When running the suite with fastest, the .xml result file contains only one of the two features.
When running the suite with Behat without fastest, both features are reported to the results xml.

I am running fastest with the following line:

[code]

When running with fastest, only one of the feature file gets reported i

[2018-06-20 08:36] OskarStark commented on #125
@DonCallisto can you please share your snippet of the BeforeScenario method and how you implement the different database names?

[2018-06-20 10:05] DonCallisto commented on #125
@mfratczak, @OskarStark  we do something like

[code]

[2018-06-20 11:49] OskarStark commented on #125
Nice an are you using mysql or SQLite for test? And how do you replace the dB name then?
Using sf 4 so habe a database url

[2018-06-20 11:52] OskarStark commented on #125
@liuggio did you think about a behat context which could be enabled and provide the cookie stuff by @DonCallisto ?

[2018-06-20 12:16] DonCallisto commented on #125
@OskarStark Right now we're using SQLite for tests and MySQL for real env. I know, it kinda sucks because we cannot reproduce the real stack but ATM we never had troubles with this. As our infrastructure is huge we never switched but we should sooner or later.
Talking about our solution, we create "statically" a db that we copy (as sqlite dbs are files) with right db name as fastest requires. This

[2018-06-20 21:56] DonCallisto commented on #125
Well, I have a quite complex setup as we use doctrine sharding so this is little bit more complicated and right now I can't take a look to get rid in a safe way of all those concept and post something I'm sure works.
BTW that's nothing complex here: before every scenario I retrieve the `ENV_TEST_CHANEL_READABLE` var, and do a `cp` (remember, I'm on `sqlite`) of the "base" db (that I set in the scr

[2018-06-21 06:36] DonCallisto commented on #125
Not sure that's a symfony problem as those data should came from DBAL, as this connection is used by that layer.

[2018-06-21 06:40] OskarStark commented on #125
I found an existing issue by @tarlepp : #101

[2018-06-21 06:44] DonCallisto commented on #125
However this project should have nothing to do with symfony (apart for direct deps used in the code), maybe we should write a kind of "normalizer" to be sure to accept those parameters in the same format regardless how they're declared inside config files.

[2018-06-21 06:44] tarlepp commented on #125
@OskarStark I resolved this with custom bootstrap with phpunit and a small configuration change:

[code]

[code]

[2018-06-21 07:06] OskarStark commented on #125
@tarlepp thank your for your feedback, I got it almost working 🙏

`An exception occurred in driver: SQLSTATE[HY000] [1049] Unknown database 'luna_test_6' (Doctrine\DBAL\Exception\ConnectionException)`

the name is routed through the test scope, but the database is not created.
How do you to this or should this be done automatically?

[2018-06-21 07:16] OskarStark commented on #125
Ah I found this in your repo:
https://github.com/tarlepp/symfony-flex-backend/blob/master/tests/bootstrap.php

Is this everything I need todo?

[2018-06-21 07:19] tarlepp commented on #125
@OskarStark that is how I got that working, there might be some parts you don't need though. One important thing is also in `public/index.php` to make fastest environment working with those client tests.

[2018-06-21 07:50] OskarStark commented on #125
I got it working and here are my behat contexts I use.

https://gist.github.com/OskarStark/5a3ce2bab27998a32a458377650abaa2

@tarlepp instead of executing the database commands via doctrine, `fastest` supports:
`-b, --before=BEFORE      Execute a process before consuming the queue, it executes this command once per process, useful for init schema and load fixtures.`

I will try to get it working,

[2018-06-21 08:21] OskarStark commented on #125
The funny thing is, that my suite takes `5:04 minutes` **with** fastest and `4:51 minutes` **without** fastest

[code]

[2018-06-21 08:37] OskarStark commented on #125
[code]

I am on a MacBook Pro (15', 2016) using Docker-Compose:
![screenshot 2018-06-21 10 37 27](https://user-images.githubusercontent.com/995707/41707723-1bd0be20-753f-11e8-95fc-9905d3e759e4.png)

[2018-06-21 08:38] DonCallisto commented on #125
That's weird ...

[2018-06-21 18:24] tarlepp commented on #125
weird  with that speed, in my case I get following;
without fastest `Time: 2.54 minutes` and with fastest `Time: 59 seconds 559 milliseconds`

But in earlier I noticed that fastest will impact `e2e` more than just simple pure unit tests.

[2018-09-12 16:09] kirkbushell opened #129 "Can't seem to ever access fastest ENV vars"
I'm currently running a phpunit test suite with its own xml file, and testing against laravel.

I'm trying to setup the suite so that it creates/destroys a database based on the channel the process is using, but the relevant env vars are never available.

Any ideas?

[2018-09-21 14:47] kirkbushell commented on #129
So what we've done is configure database.php for laravel, and calling for the test channel from fastest:

[code]

[2018-09-28 15:21] SailorMax opened #130 "support of PHP 7.3"
Can you recheck `fastest` with PHP 7.3?
Looks like it broken when use 2+ parallel processes, but I can't find the reason... Part of unit tests return error.

Tested under Windows.

[2018-09-29 14:15] SailorMax commented on #130
@DonCallisto PHP7.3 is already RC! RC2! => this problem is unknown for PHP developers.
I can't make for them real small sample of the problem for bug report. Possibly you, as developer of this program, can try to help them to find the problem.

[2018-10-01 08:38] DonCallisto commented on #130
I know is RC. I'm just saying that we should not hurry until an "official" PHP7.3 version.
BTW I can try to add PHP7.3 to travis matrix and see if tests fails. If they won't fail, I'll need you to replicate this issue in a fresh repo in order to understand what's going on.

[2018-10-01 08:40] SailorMax commented on #130
Possible problem in Symfony/Process: https://github.com/symfony/symfony/issues/28655

[2018-10-01 08:42] DonCallisto commented on #130
Nice catch, so it seems not to be a fastest issue. I'll subscribe to that topic. Thanks.

[2018-10-11 19:10] perk11 opened #131 "Test names are not aligned with -vv when some tests take minutes and other seconds"
Here is an example of fastest output on the latest version:
![image](https://user-images.githubusercontent.com/1924829/46824821-b6c7b880-cd9a-11e8-90ff-9ac7b23a715c.png)

Before the time was formatted, the last column looked much better:
![image](https://user-images.githubusercontent.com/1924829/46827681-f34ae280-cda1-11e8-950b-362c6672a1c0.png)

The solution could be either to add second tab afte

[2018-10-12 06:59] DonCallisto commented on #131
How would you let time fit 8 chars?
I think that would be better to re-align tests names.

WDYT?

[2018-10-12 15:35] perk11 commented on #131
`3m5.530s` something like that could work, but it already doesn't cover double digit minutes. I will submit a pull request adding an extra tab then.

[2018-10-12 17:39] DonCallisto commented on #129
env is not modified anyhow AFAIK.
Have you tried with [https://github.com/liuggio/fastest/blob/3e2b96d2d681b8d54e8d1309d03f1299aa2f19de/README.md#sqlite-databases](https://github.com/liuggio/fastest/blob/3e2b96d2d681b8d54e8d1309d03f1299aa2f19de/README.md#sqlite-databases)

Don't know if this solve.

[2018-10-12 23:17] kirkbushell commented on #129
The docs state that there are various env vars injected for use - including the test channel.

We can't use sqlite databases, for a variety of reasons.

[2018-10-14 09:28] DonCallisto commented on #129
You're right, I was just focusing on `__DATABASE__` placeholder.
BTW in my projects all works. Just wondering if `env` instead of `getenv` (I don't use laravel but AFAIK is should only be a kind "of wrapper") is messing things around.
Have you tried to dump the env variables? Moreover, could you replicate it in a open repo in order to let me try tackle this?
I've tried locally but it works :\

[2018-11-01 09:57] ac-dc commented on #126
I have the same issue. Is it possible to receive at least number of the procces (for example, $i) to be able to do that
`vendor/bin/fastest --rerun-failed "php -f vendor/bin/behat -- --format=progress --out=std --format=junit --out=.report_{$i}`
?

[2018-11-08 22:05] kirkbushell commented on #129
@DonCallisto getenv seems to work, so I think there may be a bug with the env() wrapper in that library. So I'm able to get the various processes now but seeing some weirdness with our setup which I'm trying to work out. In any case, I'd consider this issue closed. Thanks :)

[2018-11-08 22:05] #129 closed

[2018-12-26 21:48] seyfer commented on #125
@DonCallisto
I'm getting the error
[code]

with the code
[code]

have no idea why. any suggestions?

also, I have tried to set header with the code
[code]

and it gives me error
[code]

Symfony 3.4. latest Behat and Mink.

[2018-12-26 21:56] seyfer commented on #125
Or any idea how to attach GET parameter to all requests with Symfony Behat Mink?
I know they have `guzzle parameters` configurable...

[2018-12-27 08:56] DonCallisto commented on #125
@seyfer that's not a fastest issue, btw you can search for a solution on the web or open a issue at Selenium repository.

AFAIK, before setting a cookie you should start navigate at least one page of the domain. For example, before that set, we do something like

`$this->visitPath('/?XDEBUG_SESSION_START=IDE-DEBUG-KEY');`

That is not related to fastest but is useful when you need to set a debug k

[2018-12-27 21:13] seyfer opened #132 "Behat tests never end"
Hello

I'm running Behat and Mink extension all latest versions. with Symfony 3.4.
Also, I'm using the latest Selenium in Docker image in Hub mode with 2 Chrome nodes.
Running in parallel per feature. DB refreshed on every feature run - so tests are isolated per process and per feature.
It works well on different suites.
But when I run it on a main and biggest suite - it stuck and never ends.

[co

[2018-12-27 22:05] seyfer commented on #132
Issue solved.
We have some js generated and cached in some directory. Behat running under `fastest` couldn't access the directory. Running behat with `sudo` solved the issue.
[code]

[2018-12-27 22:11] seyfer commented on #132
Actually, still, that is not clear why `fastest` wasn't failing on this error?

[code]

If it is not failing and running forever - it will be hell to debug.
Can I set some timeouts maybe somewhere in Behat config?

[2018-12-27 22:16] DonCallisto commented on #132
Maybe is JavaScript (ajax) issue?

[2018-12-27 22:17] DonCallisto commented on #132
Btw you can still set a timeout in the waitFor function

[2018-12-27 23:20] seyfer commented on #132
@DonCallisto we are using standard `spin` function approach as proposed in docs
http://docs.behat.org/en/v2.5/cookbook/using_spin_functions.html

I just run the suite with `sudo`, it still doesn't finish 2 last test. They could be any tests, as the order is random.

[code]

53 and 54 are running forever. no status returned.

Another issue: 1 feature from 54 failed at the beginning, but it continue

[2018-12-28 08:14] DonCallisto commented on #132
I'm still not sure that's a fastest issue.
With this little code, no real examples, no way to test it, I can't help you at all.

[2018-12-30 18:11] seyfer commented on #132
@DonCallisto well, I'm using all standard configs, nothing special.
All configs as in `fastest` docs. I use provided helper for setting ENV and set ENV in GET and Cookie in FeatureContext in Behat, all works.
I use provided helper for changing DB name.
Then I have bash script to create DBs with expected names and load dump in them.
Config for Selenium and Hub with 2 nodes is standard, as in docs
h

[2019-01-02 08:41] DonCallisto commented on #132
Again

I use fastest in my projects and we have javascript scenarios too, so without code - or better, without a reproducible environment - we're not be able to help you more than this.

[2019-01-05 15:32] DonCallisto commented on #130
@SailorMax I've merged this modification in master and it seems to work. Can you try it out and let me know? Thanks!

[2019-01-05 15:34] DonCallisto commented on #131
@perk11 had you a chance to work on this?

[2019-02-08 08:37] tommy-muehle commented on #81
It seems there isn't any progress here. Maybe there is no really need for this. So i'll close this issue here.

[2019-02-08 08:37] #81 closed

[2019-04-03 12:26] SailorMax opened #135 "use input list in inverse mode"
Looks like current version use input list in inverse mode (LIFO).
Can you use it as expected - FIFO (first input - first output)?

thank you.

[2019-04-25 10:47] DonCallisto commented on #135
AFAIK fastest does not preserve order (that's not LIFO but shuffled).
Have you tried to run it with [`--preserve-order`](https://github.com/liuggio/fastest/blob/master/README.md#the-arguments)?

[2019-04-25 10:48] DonCallisto commented on #132
@seyfer did you resolved this issue?

[2019-04-25 11:07] seyfer commented on #132
@seyfer no I decided to not use it, unfortunately.

[2019-04-25 11:07] #132 closed

[2019-04-25 11:14] DonCallisto commented on #131
Looking better, neither min, secs and ms are aligned "each other".
How would we like to preceed here? I can add tabs  for "column" alignment but maybe would be good to align values in time column.
WDYT?

[2019-04-25 13:37] SailorMax commented on #135
Yes, I use `--preserve-order`:
`bin/phpunit-tests | vendor/bin/fastest --preserve-order -v "phpunit {}"`

`phpunit-tests` output list of tests in required order, but fastest run it from the end...

[2019-04-27 14:08] DonCallisto commented on #125
I'm closing it as it's not a fastest issue and the converstation seems to be over.

[2019-04-27 14:08] #125 closed

[2019-09-05 01:33] ndench commented on #101
I got around this by not using the `url` parameter:
[code]

However, I still had a problem with missing phpunit dependencies because phpunit is installed separately by symfony phpunit-bridge :cry:

[2019-10-02 18:20] DonCallisto commented on #135
Sorry for being so much late on this, I have litterally no time for open source lastly.
BTW I think I've fixed it in https://github.com/liuggio/fastest/pull/136, could you @SailorMax require this particular commit and check if everything is OK?
Thanks in advance.

[2019-10-03 10:06] SailorMax commented on #135
Now it work as expected.
Thank you!

[2019-11-18 14:06] michelv opened #142 "generating the list of tests from a PHPUnit XML file ignores the <groups> tag"
Hello,

It appears that the class `CreateTestsQueueFromPhpUnitXML` only handles the testsuite configuration.

This means that `<groups>` is ignored, and that for example some tests that you want to exclude by default aren't excluded.

The following pull request adds the handling of the `@group` annotation at the class level: https://github.com/liuggio/fastest/pull/141

How it works: just like PHPU

[2020-02-13 21:56] oojacoboo opened #144 "Always a false positive"
I'm not really sure if it's my implementation of this parallelizer or what, but almost everything gets a green check.  I've intentionally gone in and changed assertions within classes and even thrown Exceptions.  However, this script still shows a green check.

What's the trick?  Surely this isn't the intended behavior.

I'd really like to be able to leverage this script.  I spent forever trying t

[2020-02-14 07:49] DonCallisto commented on #144
@oojacoboo without further context, is impossible to understand what you're stating.
Fastest works just fine (I use it in several process and the tests fail when they suppose to).
For the moment I close this issue. If you will provide relevant code and/or context and we can verify this is a proper issue, I'll reopen it.

[2020-02-14 07:49] #144 closed

[2020-04-08 18:13] rulatir opened #147 "symfony 5"
Please bump symfony version again!

[2020-04-09 07:05] DonCallisto commented on #147
Please, before opening a new issue, try to search if something realted is already there.
Check #143 and #146.
Moreover, open source works better if instead of asking, you'll (generic) try to contribute.
BTW I close this as two issue are already in place for this kind of task.

[2020-04-09 07:05] #147 closed

[2020-04-11 08:04] rulatir commented on #147
Spending more time searching for similar issues vs. spending some less time and posting a new issue is a tradeof, and sometimes something will slip through the crack between the two options. Please don't assume laziness.

[2020-04-11 08:10] DonCallisto commented on #147
I didn’t assumed anything here.
Just pointed you to already opened PRs and suggested to search before opening a new issue.
I don’t think that searching into an input box is slower than opening a new PR.
Just think for a moment what implies to have some opened issues pointing to same request, if no one searches anymore.
I don’t think the so called trade-off is worthy in such cases.

[2020-05-20 19:28] garrettgjb opened #148 "Incompatible with laravel"
Below I am doing a fresh install of the latest laravel and require this package. I believe the problem is because of facade/ignition which requires symfony/console "^5.0". This package requires symfony/console "^3.4|^4.2". I think if this package worked with symfony/console 5.0 it would work.

[code]

[2020-05-21 07:25] #130 closed

[2020-05-21 07:26] DonCallisto commented on #148
Related to https://github.com/liuggio/fastest/pull/146

[2020-05-21 07:26] #148 closed

[2020-05-27 09:06] DonCallisto commented on #148
See https://github.com/liuggio/fastest/pull/149

[2020-05-27 09:06] DonCallisto commented on #147
See https://github.com/liuggio/fastest/pull/149

[2020-05-27 09:13] DonCallisto commented on #148
@garrettgjb check #149 please and give it a try and a feedback.
Thanks.

[2020-05-27 09:13] DonCallisto commented on #147
@rulatir check #149 please and give it a try and a feedback.
Thanks.

[2020-05-27 10:01] DonCallisto commented on #25
As this is a really old issue, and no one seems to care about anymore (no comments since 5 years) and no infos for further investigations, I'm gonna close it.

[2020-05-27 10:01] #25 closed

[2020-05-27 10:04] DonCallisto commented on #38
If I'm not mistaken, I think that fastest is already able to use `phpunit.xml` file, so I'm gonna close this.

[2020-05-27 10:04] #38 closed

[2020-05-27 10:06] DonCallisto commented on #39
Same as other issues, it seems that's already in fastest. I'm closing it.

[2020-05-27 10:06] #39 closed

[2020-05-27 10:07] DonCallisto commented on #51
I think that @alexislefebvre solution is the way to reach it without altering fastest behaviour.

[2020-05-27 10:07] #51 closed

[2020-06-12 11:07] matlar83 opened #151 "before option not working anymore"
With the last version (v1.7.0) the --before command option seems not to work anymore.

Steps to reproduce:
with **version 1.6.1**:
[code]
**Status OK**: before command is executed

with **version 1.7.0**:
[code]
**Status KO**: before command is not executed

Some other issues related to --before option, also in v.1.6.1:

- Before command output is not reported, even with -vvv option
- If the befor

[2020-06-12 13:09] DonCallisto commented on #151
@matlar83 can you try and see if https://github.com/liuggio/fastest/tree/input_args_parsing fix this?
I've only fixed args parsing, the "older" issues with `--before` should not be trackled here.
Let me know please.
Thank you.

[2020-06-12 15:28] matlar83 commented on #151
@DonCallisto, it does not fix it, according to my tests.
And it seems not to run the <execute> command anymore.

Performed test:
[code]

Can you reproduce it?
Thank you

[2020-06-20 22:31] Brightside56 commented on #151
I confirm, -b/--before isn't working

[2020-06-22 07:02] DonCallisto commented on #151
I was able to reproduce.
With my fix, I'm not using the `StringInput` the right way: as a matter of fact, it expects to match a certain input, so a first try is to copy/paste the function that parse input string directly in fastest but with no luck.
I'm not sure why the command is not interpreted in the right way.
Sadly last week, I had no time to investigate deeper.
I'll try this week but I reall

[2020-07-06 13:06] koekaverna opened #152 "How to run two commands before tests?"
I need to run both comand before tests
`vendor/liuggio/fastest/fastest -b"bin/console doctrine:database:create --no-interaction --env=test`
and
`vendor/liuggio/fastest/fastest -b"bin/console doctrine:migrations:migrate --no-interaction --env=test`

And there is no way to do it

I tried to use `&&` and `\&\&` between commands and It didn't work.

[2020-07-06 15:55] DonCallisto commented on #152
Related to https://github.com/liuggio/fastest/issues/151

[2020-07-06 15:55] #152 closed

[2020-10-02 14:30] DonCallisto commented on #151
@matlar83 @Brightside56 sorry for the long delay, I was quite busy.
I've updated my fork https://github.com/liuggio/fastest/tree/input_args_parsing

Could you give it a shot and let me know if it's ok for your projects?
Mine tests were fine.

[2020-10-05 12:19] DonCallisto commented on #151
If no one will give a feedback, I'm gonna merge the PR within this week and release a new tagged version in order to let everyone use new code.
I'm pretty confident it's gonna be fine but a double check would be great.
Thanks in advance @matlar83, @Brightside56 and everyone will check this.

[2020-10-05 12:27] matlar83 commented on #151
Sorry @DonCallisto, I don't have time to test it :-(

I hope I will have in the next weeks, but I'm not sure

[2020-10-05 12:35] DonCallisto commented on #151
Don't worry. I've used your test cases as guidelines and it works like a charm, so I'm pretty sure we won't have surprise here.
After all, this taken me 4 months, it won't be a problem if you can't try it.

[2020-10-07 10:22] DonCallisto commented on #151
I've released v1.7.1 https://github.com/liuggio/fastest/releases/tag/v1.7.1
It should fix the bug.

[2020-10-07 10:50] DonCallisto commented on #151
Gonna close it for the moment.
Feel free to comment if something's wrong and I'll reopen it.

[2020-10-07 10:50] #151 closed

[2020-10-09 13:07] DonCallisto commented on #135
Fixed in https://github.com/liuggio/fastest/pull/136

[2020-10-09 13:07] #135 closed

[2020-12-14 02:19] redaxmedia opened #165 "Not compatible with PHPUnit 9+"
I get the following error using latest version of PHPUnit 9:

[code]

Downgrade to PHPUnit 8 resolves the issue, but that is not an option for me at the moment.

[2020-12-14 02:21] redaxmedia commented on #165
Oh, I did not take a look int othe PR section... https://github.com/liuggio/fastest/pull/153

[2021-01-16 11:20] DonCallisto commented on #165
Resolved in https://github.com/liuggio/fastest/pull/153

[2021-01-16 11:20] #165 closed

[2021-01-16 11:52] DonCallisto opened #166 "Switch to GitHub actions"
As per title.
If someone want to give a try, let me know,

[2021-05-11 16:37] lyrixx opened #169 "Add support for MongoDB official client"
The doctrine layer https://github.com/doctrine/mongodb has be archived / abandonned but this project is using it ([ref](https://github.com/liuggio/fastest/blob/master/adapters/Doctrine/MongoDB/Connection.php#L8))

Would it be possible to add support for it?

Thanks

[2021-05-12 07:06] DonCallisto commented on #169
Hi @lyrixx, what do you mean with "add support for it"?

[2021-05-12 07:18] lyrixx commented on #169
wep :) I'm testing something in my application. I might open a PR if it works well.

[2021-05-12 07:21] DonCallisto commented on #169
Yup, you're very welcome to do so.
If you'll not come up with a solution, please let me know.

[2021-05-20 15:16] DonCallisto commented on #59
As this is a very old issue and no more details were provided, I'm gonna close it.
Feel free to open again if still worthy.

[2021-10-01 11:57] #166 closed

[2021-10-06 15:34] mnsami opened #173 "Failure on several issues"
I'm running a laravel 5.3 and php7.2 project, and I'm trying to use `fastest` to boil down a 30mins test run.

My tests are divided between:
1. System
2. Integration
3. Unit

each are defined inside a group in `phpunit.xml`

[code]

But there is something I can't wrap my head around, the `env` variables.

When I run `find tests/ -name "*Test.php" | vendor/bin/fastest -o "vendor/bin/phpunit -c phpu

[2021-10-06 15:38] DonCallisto commented on #173
It sounds like is a concurrency issue, not fastest one.
Maybe your tests are not independant so, when parallelized, the issue arise.

[2021-11-25 13:54] kocoten1992 opened #176 "Latest Symfony Process make fastest screaming with PHP Warning: Array to string conversion"
After this PR, https://github.com/symfony/process/commit/e498803a6e95ede78e9d5646ad32a2255c033a6a

Our example on readme always screaming when running tests:
[code]

Think it on Symfony process but I'm not sure yet (or is it on us ?).

[2021-11-26 09:37] DonCallisto commented on #176
Looking here https://github.com/liuggio/fastest/blob/master/src/Process/EnvCommandCreator.php#L30-L37, I highly suspect that's your code "fault" and you're putting something unexpected (array value) in your env.
I would suggest to print out before any test the `$env` and check if all's fine.
I'm closing it for the moment, feel free to reopen if you've verified issue is on fastest side.

[2021-11-26 16:51] jan-j commented on #176
As far as I can tell this bug has started recently with the latest security update for `symfony/process` (version `v4.4.35`/`v5.3.12`). This https://github.com/symfony/process/commit/c2098705326addae6e6742151dfade47ac71da1b commit specifically.

The problem is the `argv` key from $_SERVER variable which gets passed as `ARGV` in $env variable into Process. Before the above commit all array values w

[2021-11-26 16:56] DonCallisto commented on #176
@jan-j Yeah, I've seen the commit suggested but I don't think that's related at all with fastest. Didn't understood if your comment was reinforcing my point or not tho :sweat_smile:

[2021-11-26 17:18] jan-j commented on #176
The problem I see it is the compatibility between `iluggio/fastest` and latest version of `symfony/process`.

`array_change_key_case([...],  CASE_UPPER)` uppercases `argv` key and because of that it is not filtered out in `symfony/process` and array value from `$env['ARGV']` gets converted to string with the warning.

This doesn't seem like something that can be fixed by the library user. It has t

[2021-11-29 08:38] DonCallisto commented on #176
@jan-j woah, I've totally missed the case conversion of env keys, thanks for pointing it out.
Well, I think we should get rid of case conversion as it takes into account both super globals "$_SERVER` and `$_ENV` which we should not take care. We're setting our variables and we should take care only of those. If user isn't following a convention (e.g.: have superglobals keys all upper case) it's up

[2021-11-29 08:42] DonCallisto commented on #176
ping  @francoispluchino. Please, could you validate this as you've introduced case conversion here https://github.com/liuggio/fastest/pull/117?

[2021-11-29 08:47] DonCallisto commented on #176
Ok, got it. Case conversion was there only for preventing "duplicates", not for any other reason. If we get rid of this, we could fall into scenarios with duplicates when same string has different case. Maybe it's legit? What would someone expect from merging two env variables with different case?

[2021-11-29 09:51] jan-j commented on #176
I am really in no position to tell how it should work, but maybe it should be preserving the case of env variable keys, but using a case insensitive key comparison when merging. Something like this:

[code]

[2021-11-29 09:53] DonCallisto commented on #176
Yes, I was thinking about the same as should be the safest way to handle this case where mixed variables could come from the outside.

[2021-11-29 19:45] francoispluchino commented on #176
@DonCallisto Regarding the commit symfony/process@e498803a6e95ede78e9d5646ad32a2255c033a6a, I'm not sure the problem is with the PR #117. However, this one is starting to date, and I can't remember at all why I added this action (I avoid changes like this, so there was a definite reason at the time). On this point of the PR, I agree with you, I think @jan-j improvement proposal is interesting and

[2021-11-29 21:22] DonCallisto commented on #176
@francoispluchino `$argv` is for sure an arrays. Our case conversions won't hit this control https://github.com/symfony/process/commit/e498803a6e95ede78e9d5646ad32a2255c033a6a#diff-a82f1f0b74256d93193ad7436778b39972f484e9286f70f203ef5b2aab052bc7R341 that before were filtered out by https://github.com/symfony/process/commit/e498803a6e95ede78e9d5646ad32a2255c033a6a#diff-a82f1f0b74256d93193ad7436778b

[2021-11-29 23:30] DonCallisto commented on #176
I'm working on this https://github.com/liuggio/fastest/tree/issue_176
Still missing merge part and tests.

[2021-12-07 13:36] rbaarsma opened #178 "Symfony 5.4 phpunit 9.5 with forceCoversAnnotation and beStrictAboutCoversAnnotation giving random failures"
We just started a new project with Symfony 5.4 and phpunit 9.5. We've only implemented standard authetnication and some basic entities and cruds, but already see strange random issues in the tests.

We are executing:
[code]

The errors we are getting are all warnings about Risky tests, ex:
[code]

In every case the risky message is simply  not true. If we execute the test solo (with coverage) or e

[2021-12-13 10:10] jan-j commented on #176
Hello again! It's been almost 2 weeks since the last update so I just wanted to check with you and offer some assist to finish the fix if you feel like that would be helpful.

[2021-12-14 09:42] DonCallisto commented on #176
@jan-j and others: could you please test against https://github.com/liuggio/fastest/pull/177?

[2021-12-14 09:56] kocoten1992 commented on #176
Thank you very much!

I use `composer require liuggio/fastest:dev-issue_176 --dev`.

It work well and all the warning is gone :+1: .

[2021-12-16 08:14] DonCallisto commented on #178
Hi, could you spin up a project in order to reproduce this behaviour?
After that I'll look for the issue.
The best would be for you to produce a PR as I'm the only active developer working on fastest at the moment, but if you don't know where to start, just spin up a simple POC for me or other willing to work on this.
Thank you.

[2021-12-16 08:16] DonCallisto commented on #176
This weekend I'll merge this PR and make a new release.
To all people involved in this conversation, plase, could you test the patch (or review the code) before the end of this week?

Thanks.

[2021-12-16 09:14] jan-j commented on #176
I've tested it on our codebase and the patch works. Also for your information the issue was also addressed on the Symfony side https://github.com/symfony/symfony/issues/44534.

[2021-12-16 09:18] DonCallisto commented on #176
@jan-j Thanks. I think it's safer to keep also this change in fastest as we should not interfere with superglobals that someone could depend on.
Gonna merge it sooner.

[2021-12-17 08:02] DonCallisto commented on #176
Resolved in #177

Released new tagged version (1.9.0) -> https://github.com/liuggio/fastest/releases/tag/v1.9.0

[2021-12-17 08:02] #176 closed

[2021-12-17 08:31] DonCallisto commented on #178
Sorry, I've closed this by mistake.

[2022-01-06 16:01] gebi84 opened #179 "Support for DATABASE_URL"
first thx for the great tool.

I'm using the latest version 1.9.0

When i only set the URL in the .env:
`DATABASE_URL=mysql://root:root@127.0.0.1/fwgshopmanager_test`

I get following error:
`
  [ErrorException]
  Notice: Undefined index: master
`

the params array which comes into ConnectionFactory::createConnection looks like so
`
array:9 [
  "url" => "mysql://root:root@127.0.0.1/fwgshopmanager_

[2022-01-10 08:33] DonCallisto commented on #179
Could this have something to do with https://github.com/liuggio/fastest/pull/159?

[2022-01-12 09:23] gebi84 commented on #179
no I don't think so, this also does not handle the url parameter

[2022-01-12 20:09] mr120 commented on #179
An alternate solution that uses the connection string would be helpful, however this can be easily overcome with test specific configs.

[code]

[code]

Being sure your .env has the required properties

[2022-02-28 10:48] cavo789 opened #180 "Question about database isolation"
Hello

I've give a try on my project and I should roll back immediately: our tests are using a dataset to fill in the database with a custom set of informations (a specific user, X or Y items in multiples tables, ...).

Today, our tests are fired one after the other and that's fine (but so sloooow).

Using Fastest to use parallelism  is a nice idea but is there an isolation mechanism ? Records add

[2022-02-28 10:54] DonCallisto commented on #180
Hi @cavo789, of course fastest handle isolation, otherwise to go parallel for test would be useless.
To gain isolation, fastests uses a different database for each process spinned. To find out how to manage different database, please take a look at https://github.com/liuggio/fastest#storage-adapters).

[2022-02-28 10:54] #180 closed

[2022-03-01 08:19] cavo789 commented on #180
Thanks @DonCallisto for your very fast answer.  I've read more than one the documentation you pointed to me but I don't have such  `config_test.yml` file. My current project is a Laravel one and I use phpunit.xml to set some variables and which tests should be fired.

My database is a Postgres one and, my apologies for this, I don't see where I should configure things for telling to Fastest to use

[2022-03-01 14:50] DonCallisto commented on #180
As you see [here](https://github.com/liuggio/fastest#functional-tests-and-database) you can use `ENV_TEST_CHANNEL` or `ENV_TEST_CHANNEL_READABLE` to create your own database and refer/connect to it at the start of your test. That's on user behalf as fastest it's only a tool for run parallel tests: if user needs to re-create db, reload fixtures, vacuum all committed transactions and so on and so fo

[2022-03-22 12:20] Grldk opened #181 "Update symfony dependencies to ^6.0"
Would it be possible for this package to be updated with support for symfony 6 dependencies? Right now this is blocking me from upgrading to Laravel 9.x unfortunately. Thanks!

[2022-03-22 12:42] DonCallisto commented on #181
Please, open a PR. I'll merge it as long as test are green.
Cheers.

[2022-03-22 13:16] Grldk commented on #181
Ok. Will try to make some time for this later this week!

[2022-03-23 11:21] Grldk commented on #181
@DonCallisto

I tried my hand at this today. When just adding symfony 6 components as depencies a couple of tests fail. I managed to fix the tests, but I'm not sure why they failed, or why they are working now:

https://github.com/Grldk/fastest/tree/add-symfony-6

As far as I can see, the symfony upgrade from 5 to 6 does not contain any relevant breaking changes. But after upgrading three tests fa

[2022-03-23 11:22] DonCallisto commented on #181
Please, open a pull request in order to facilitate my review.
Thanks.

[2022-03-25 10:34] #181 closed

[2022-03-25 10:36] DonCallisto commented on #181
The issue were with Symfony `Process` class. It hasn't a return type so everytime PHPUnit invoked (with SF < 6) the method, it used to return `null` . Now as `bool` is instead used as return type, we should've add `false` (as correctly done).
What I should think (but that's not related to SF 6 support) is if tests are still valid as (maybe? probably?) we were missing a point when not declaring exp

[2022-07-01 12:18] lyrixx commented on #169
I don't work on the project anymore. Thus I'm closing this issue. Thanks

[2022-07-01 12:18] #169 closed

[2022-07-04 22:04] soulcodex commented on #179
Hi guys, is absolutly neccesary support **DATABASE_URL** param for connection with database, i am not able to establish connection with my database using the params listing like  @mr120 comments :(

[2022-07-05 07:15] DonCallisto commented on #179
Hi @soulcodex, at the moment I won't be able to tackle this quickly. If you find a solution for this issue, you're welcome to open a PR.

[2022-07-05 07:18] soulcodex commented on #179
I will start to work with a PR with the Connection Factory based on regex capture for URL approach at least for relational databases like MySQL, PG and SQLITE

See you soon

[2022-07-05 21:46] soulcodex commented on #179
@DonCallisto take a look at the changes I have for the package using DSN instead of a list of parameters, it only remains to test it and add the approach for SQLite.

https://github.com/soulcodex/fastest/tree/feature/1-add-support-for-database-url/adapters/Doctrine/DBAL/Factory

[2022-07-06 15:17] DonCallisto commented on #179
Please, produce a diff (for example with a draft PR) and when I'll have time, I'll try to take a look.
Thanks.